<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Job Portal</title>
  </head>
  <body>
    <!--Logic to show job portal-->
    <div class="header">{{ title }}</div>
    <div class="body">
      <ng-container *ngFor="let item of jobs">
        <div class="box">
          <a href="{{ item?.url }}" target="_blank">{{ item?.title }}</a>
          <div class="details">
            <span>By: </span>
            <span>{{ item?.by }} . </span>
            <span>{{ item?.time | date: 'dd/MM/yyyy, h:mm:ss' }}</span>
          </div>
        </div>
      </ng-container>
    </div>
    <button
      type="button"
      class="load-button"
      (click)="loadMoreJobs(jobs.length)"
      *ngIf="!disableLoadButton"
    >
      Load More Jobs
    </button>
  </body>
</html>
